@model IEnumerable<Online_Gift_Delivery_MVC.Models.GiftPurchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Gift Purchase</h1>
<p><a asp-action="Create" class="btn btn-primary">+ Add New Gift Purchase</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiftSender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gift)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftSender.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gift.ItemName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ShippingMethod.Name)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
